@page "/about"
@model BA.AllureSkinsolution.Pages.aboutModel
@section Metatags {
    <title>About Allure Skin Solutions - Skin Care Eagle ID</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/about" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="About Allure Skin Solutions - Skin Care Eagle ID" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Our ambition at Allure Skin Solutions and Medical Aesthetics is to provide a comprehensive approach to caring for our clients skin as it matures and changes due to  age, environmental factors, health problems, hormone changes and lifestyle choices." />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/about" />
    <meta itemprop="description" content="" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="About Allure Skin Solutions - Skin Care Eagle ID" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/about" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Our ambition at Allure Skin Solutions and Medical Aesthetics is to provide a comprehensive approach to caring for our clients skin as it matures and changes due to  age, environmental factors, health problems, hormone changes and lifestyle choices." />
    <meta name="description" content="Our ambition at Allure Skin Solutions and Medical Aesthetics is to provide a comprehensive approach to caring for our clients skin as it matures and changes due to  age, environmental factors, health problems, hormone changes and lifestyle choices." />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "About Allure Skin Solutions - Skin Care Eagle ID",
        "description": "Allure Skin Solutions and Medical Aesthetics provides a comprehensive approach to caring for our clients skin as it matures and changes. CALL (208) 939-9074",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },{
        "@@type": "ListItem",
        "position": 2,
        "name": "About Allure Skin Solutions - Skin Care Eagle ID",
        "item": "https://allureskinsolution.com/about"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background: url(/images/allure-logo.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Your  Passionate  Providers</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="text-uppercase mb-4">Our Philosophy</h4>
                    <p class="mb-4">Allure is “the quality of being powerfully and mysteriously attractive or fascinating”. No one would argue that inner beauty is what ultimately makes an individual alluring, however being unhappy with our appearance can compromise confidence and personal power, stifling our inner beauty and allure.</p>
                    <p>Our ambition at Allure Skin Solutions and Medical Aesthetics is to provide a comprehensive approach to caring for our clients skin as it matures and changes due to  age, environmental factors, health problems, hormone changes and lifestyle choices. Our many products and services are designed to revitalize what time, life and age have diminished. we look forward to the opportunity to cooperatively create a plan to maintain, improve or augment your skin, recharging your inner beauty and allure. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-area">
    <div class="content-header pb-5 pt-0 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="text-uppercase mb-4">APRN Providers & Injectors</h4>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/team-tonia-nicholson.jpg" alt="Tonia Nicholson - BSN, MSN, CRNA and Owner of Allure Skin Solutions in Eagle, Idaho.">
                </div>
            </div>
            <div class="col-sm pt-4 pt-lg-0">
                <h3>Tonia Nicholson</h3>
                <h6> BSN, MSN, CRNA</h6>
                <h4>Phone: <a href="tel:208-870-8626"> 208-870-8626</a> </h4>

                <h2 class="mt-4">Services</h2>

                <ul class="allure-member-services">
                    <li>Neuromodulators</li>
                    <li>
                        Hyaluronic Acid Fillers for Cheeks, Lips, Marionette Lines, nasolabial folds, jawline

                    </li>
                    <li>Kybella</li>

                </ul>

            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-sm order-sm-2">
                <div class="image-space-main text-right">
                    <img src="./images/team-jennifer-snider.jpg" alt="Jennifer Snider BSN, MSN, CRNA">
                </div>
            </div>

            <div class="col-sm pt-4 pt-lg-0">
                <h3>Jennifer Snider</h3>
                <h6> BSN, MSN, CRNA</h6>
                <h4>Phone: <a href="tel:509-481-8295"> 509-481-8295</a></h4>
                <h2 class="mt-4">Services</h2>

                <ul class="allure-member-services">
                    <li>Neuromodulators</li>
                    <li>   Hyaluronic Acid Fillers for Cheeks, Lips, Marionette Lines, nasolabial folds, jawline</li>
                    <li>Radiesse</li>
                    <li>Sculptra</li>
                    <li>Kybella</li>

                </ul>


            </div>

        </div>
    </div>
</section>
<section class="content-single mb-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-sm ">
                <div class="image-space-main">
                    <img src="./images/team-tammy-skidmore.jpg" alt="Tammy Skidmore CRNA">
                </div>
            </div>

            <div class="col-sm pt-4 pt-lg-0">
                <h3>Tammy Skidmore</h3>
                <h6> BSN, MSN, CRNA, DNP</h6>
                <h4>Phone: <a href="tel:208-339-5492"> 208-339-5492</a></h4>
                <h2 class="mt-4">Services</h2>

                <ul class="allure-member-services">
                    <li>Neuromodulators</li>
                    <li>   Hyaluronic Acid Fillers for Cheeks, Lips, Marionette Lines, nasolabial folds, jawline</li>
                    <li>Radiesse</li>
                    <li>Sculptra</li>
                    <li>Kybella</li>
                    <li>
                        Hair Restoration

                    </li>
                    <li>
                        Tear Trough Rejuvenation

                    </li>
                    <li>Threads</li>
                    <li>
                        Virtue RF (radio frequency skin tightening)

                    </li>
                    <li>
                        Quanta EVO Laser (hair removal, skin conditions)

                    </li>

                </ul>


            </div>

        </div>
    </div>
</section>
<!-- <section class="content-single">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-sm order-sm-2">
                <div class="image-space-main text-right">
                    <img src="./images/team-kali.jpg" alt="Kali" class="img-fluid">
                </div>
            </div>

            <div class="col-sm pt-4 pt-lg-0">
                <h3>Kali</h3>
                <p>
                    I was born and raised in a small town in Northern Minnesota. After high school I attended Massage School a few hours away from home in Moorhead, Minnesota. Here I completed an Associates Degree in Applied Science for Massage Therapy in 2015.
                </p>
                <p>
                    While working as an Independent Contractor in small spa there, I decided I wanted to fulfill another dream of mine (moving somewhere warm and skin care) so I packed up my Jeep and moved across country to Tempe, Arizona.
                </p>
                <p>
                    Skincare has always been something I’ve been passionate about. However, I wasn’t able to explore the idea much in my small town because there was no place to get a facial until years after I moved.
                    *Side note for some giggles. To be honest, I didn’t even know what an esthetician was until I was 22.
                </p>
                <p>
                    In April of 2017 I earned a certificate in Advanced Esthetics at Imaj Institute in Scottsdale, AZ. After tons of research, I chose this school (and this move) because I wanted to make sure I was setting myself up for the best experience and education for my future!
                </p>
                <p>
                    In January 2019, I ended up meeting my boyfriend (a Boise native) and after he moved back to attend law school, we successfully kept up a long distance relationship and I decided to make the move here in November of 2018.
                    Arizona was fun but I couldn’t be happier to call Boise home!
                </p>
                <p>
                    I love to help my clients reach their skin care goals by carefully selecting products and combining treatments specific to their needs, while keeping up my eye for detail with eyebrow waxing and tinting.
                </p>
                <p>
                    I look forward to meeting you soon!
                </p>
            </div>

        </div>
    </div>
</section> -->

<section class="content-area">
    <div class="content-header pb-5 pt-0 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="text-uppercase mb-4">Esthetic Providers</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-single mb-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-sm ">
                <div class="image-space-main">
                    <img src="./images/team-brooke.jpg" alt="Tammy Skidmore CRNA">
                </div>
            </div>

            <div class="col-sm pt-4 pt-lg-0">
                <h3>Brooke</h3>
                <h4>Book Here: <a href="https://brows-by-brooke.square.site/" target="_blank">Click This Link </a></h4>
                <h2 class="mt-4">Services</h2>

                <ul class="allure-member-services">
                    <li>
                        Ombré Powder brow certification through Beauty Angels Academy
                    </li>

                    <li>
                        Powder Brow certification through Slayy Academy
                    </li>

                    <li>
                        Nano Brows certified through Shay Alsaid
                    </li>

                    <li>  Nano Brows certified through Maya Moore Beauty Training </li>

                </ul>


            </div>

        </div>
        <div class="row align-items-center my-5 py-5 allure-team">
            <div class="col-sm pt-4 pt-lg-0">
                <h3 class="mb-0">Shawn McPherson</h3>
                <h5 class="text-uppercase mb-3">- Licensed Esthetician</h5>
                <h4>Book Here: <a href="https://www.skinsensebyshawn.com/" target="_blank">Click This Link </a></h4>

            </div>
            <div class="col-sm ">
                <div class="image-space-main text-right">
                    <img src="./images/Shawn-McPherson.jpg" alt="Tammy Skidmore CRNA">
                </div>
            </div>

        </div>
        <div class="row align-items-center mt-5 allure-team">

            <div class="col-sm ">
                <div class="image-space-main">
                    <img src="./images/team-kali.jpg" alt="Tammy Skidmore CRNA">
                </div>
            </div>

            <div class="col-sm pt-4 pt-lg-0">
                <h3 class="mb-0">Kali Oistad</h3>
                <h5 class="text-uppercase mb-3">- Licensed Esthetician</h5>
                <h4>Book Here: <a href="https://naturalbeautyandbrows.com/" target="_blank">Click This Link </a></h4>
            </div>

        </div>
    </div>
</section>