@page "/celluma-light-therapy"
@model BA.AllureSkinsolution.celluma_light_therapyModel
@section Metatags {
    <title>Celluma Light Therapy @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/celluma-light-therapy" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Celluma Light Therapy @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Celluma Light Therapy is a FDA approved therapy to reduce signs of aging. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/celluma-light-therapy" />
    <meta itemprop="description" content="Celluma Light Therapy is a FDA approved therapy to reduce signs of aging. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/AllureLogo1.12.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Celluma Light Therapy @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/celluma-light-therapy" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Celluma Light Therapy is a FDA approved therapy to reduce signs of aging. CALL: (208) 939-9074" />
    <meta name="description" content="Celluma Light Therapy is a FDA approved therapy to reduce signs of aging. CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"Celluma Light Therapy | Eagle, ID | Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/celluma-light-therapy","description":"Celluma Light Therapy is a FDA approved therapy to reduce signs of aging. CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/performing-dermaplane-service.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolution.com/images/performing-dermaplane-service.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"Beauty Services","itemListElement":[{"@@type":"OfferCatalog","name":"Light Therapy","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Celluma Light Therapy","description":"High intensity LED light penetrates the tissue at varying depths depending on the treatment goal and improves cellular health and healing. Compromised cells absorb the LED light, transform it into usable energy to regenerate and repair the cell. Using wavelengths of light, the Celluma increases circulation, decreases inflammation, kills bacteria associated with acne, improves tone, texture and clarity of skin, and is effective in treating muscle and joint pain."}}]}]}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/celluma-light-therapy","name":"Celluma Light Therapy - Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area  d-flex align-items-center" style="background:url(./images/celluma-service-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Celluma Light Therapy</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-4">what is Celluma Light Therapy</h4>
                    <p class="mb-4">High intensity LED light penetrates the tissue at varying depths depending on the treatment goal and improves cellular health and healing. Compromised cells absorb the LED light, transform it into usable energy to regenerate and repair the cell. Using wavelengths of light, the Celluma increases circulation, decreases inflammation, kills bacteria associated with acne, improves tone, texture and clarity of skin, and is effective in treating muscle and joint pain. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/celluma-light-service.jpg" alt="">
                    <img class="bottom-image" src="./images/celluma-light-before-after.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <h3>Proven By Science Backed By Results</h3>
                <p class="my-4">For anti-ageing, pain-management, wound-healing and acne-treatment. This FDA approved therapy improves cellular health to reduce the signs of aging, relieves pain, and helps to eliminate acne. This treatment is non-toxic, non-invasive, and affordable.</p>
                <p class="color-aqua">Two 30-minutes treatments a week for 6-8 weeks</p>
                <p class="dull">For more information check celluma.com</p>
            </div>
        </div>
    </div>
</section>
