@page "/non-surgical-cheek-augmentation"
@model BA.AllureSkinsolution.cheeksModel
@section Metatags {
    <title>Cheek Augmentation @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/non-surgical-cheek-augmentation" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Cheek Augmentation @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/non-surgical-cheek-augmentation" />
    <meta itemprop="description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Cheek Augmentation @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.pn" />
    <meta name="twitter:url" content="https://allureskinsolution.com/non-surgical-cheek-augmentation" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
    <meta name="description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
}
@section Scripts {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"Cheek Augmentation @@ Allure Skin Solutions","url":"https://allureskinslution.com/non-surgical-cheek-augmentation","description":"Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/cheeks-banner.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"https://schema.org/","@@type":"Product","name":"Restylane Lyft","image":"https://allureskinsolution.com/images/cheek-restylane-product.jpg","description":"Restylane Lyft Is FDA approved and has the Largest Hyaluronic acid formulation of all the fillers. It is ideal for filling the spaces where the fat pad has diminished and re-volumizing the “apple” of the cheek. It is dense, somewhat malleable and provides both lift and support. Lyft can also be used to diminish nasolabial folds and hand augmentation.","brand":"Restylane","manufacturer":"Galderma","offers":{"@@type":"Offer","url":"https://allureskinsolution.com/menu","priceCurrency":"USD","price":"800","availability":"https://schema.org/InStoreOnly","itemCondition":"https://schema.org/NewCondition"}},{"@@context":"https://schema.org/","@@type":"Product","name":"Juvederm Voluma XC","image":"https://allureskinsolution.com/images/cheek-augmentation.jpg","description":"Juvederm Voluma XC is FDA approved and contains a combination of large and small hyaluronic acid particle. Its cohesive formulation makes it the HA filler with the greatest lifting effect. It is a softer product that provides optimum results in individuals with thinner skin or those not needing volume. It is ideal for contouring in the mid face.","brand":"Restylane","manufacturer":"Allergan","offers":{"@@type":"Offer","url":"https://allureskinsolution.com/menu","priceCurrency":"USD","price":"700","availability":"https://schema.org/InStoreOnly","itemCondition":"https://schema.org/NewCondition"}},{"@@context":"https://schema.org/","@@type":"Product","name":"Radiesse","image":"https://allureskinsolution.com/images/cheek-radiesse-product.jpg","description":"Radiesse is NOT hyaluronic acid. It is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. Radiesse lifts as well as restores lost volume to the cheeks, the lower face, and effectively treats moderate to severe wrinkles and folds. Once its been injected it creates a matrix that stimulates the body to produce its own collagen! As the CaHA is slowly metabolized the collagen remains, providing structural support to the face and strengthening bone.","brand":"Radiesse","manufacturer":"Merz Aesthetics","offers":{"@@type":"Offer","url":"https://allureskinsolution.com/menu","priceCurrency":"USD","price":"800","availability":"https://schema.org/InStoreOnly","itemCondition":"https://schema.org/NewCondition"}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/non-surgical-cheek-augmentation","name":"Cheek Augmentation @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/cheeks-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-left text-uppercase">
                    <h1>Non-Surgical<br> Cheek <br> Augmentation</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-4">what is Non-Surgical Cheek Augmentation</h4>
                    <p class="mb-4">The use of HA cheek fillers help recapture the youthful curve and contour of your cheeks.</p>
                    <p class="mb-4">Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. The primary difference between cheek filler and other HA fillers for the face is the size of the Hyaluronic acid particle. It is the combination of large hyaluronic particles and a dense formulation that creates lift and volume in the cheeks. Additionally, volumizing the cheek often helps decrease the hollow look under the eyes and can softens nasal labial folds.  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/cheek-restylane-product.jpg" alt="">
                    <img class="bottom-image" src="./images/cheek-restylane-before-after.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <h3>RESTYLANE LYFT</h3>
                <p class="my-4">Restylane Lyft®  Is FDA approved and has the Largest Hyaluronic acid formulation of all the fillers. It is ideal for filling the spaces where the fat pad has diminished and re-volumizing the “apple” of the cheek. It is dense, somewhat malleable and provides both lift and support. Lyft®  can also be used to diminish nasolabial folds and hand augmentation.</p>
                <p class="service-time">30 minutes</p>
                <p class="dull">Lasts approximately 15 - 18 months</p>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-main text-right">
                    <img src="./images/cheek-augmentation.jpg" alt="">
                    <img class="bottom-image" src="./images/cheek-juvederm-before-after.jpg" alt="">
                </div>
            </div>
            <div class="col-lg">
                <h3>JUVEDERM VOLUMA XC®</h3>
                <p class="my-4">Juvederm Voluma XC®  is FDA approved and contains a combination of large and small hyaluronic acid particle. Its cohesive formulation makes it the HA filler with the greatest lifting effect. It is a softer product that provides optimum results in individuals with thinner skin or those not needing volume. It is ideal for contouring in the mid face. </p>
                <p class="service-time">30 minutes</p>
                <p class="dull">Lasts approximately 20 to 24 months</p>
            </div>

        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/cheek-radiesse-product.jpg" alt="">
                    <img class="bottom-image" src="./images/radiesse-logo.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <h3>RADIESSE</h3>
                <p class="my-4">Radiesse® is NOT hyaluronic acid. It is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. Radiesse lifts as well as restores lost volume to the cheeks, the lower face, and effectively treats moderate to severe wrinkles and folds. Once its been injected it creates a matrix that stimulates the body to produce its own collagen! As the CaHA is slowly metabolized the collagen remains, providing structural support to the face and strengthening bone.</p>
                <p class="service-time">1 hour</p>
                <p class="dull">Results lasts 1 - 2 years</p>
            </div>
        </div>
    </div>
</section>
<section class="info-section py-120 pb0">
    <div class="container">
        <div class="row">
            <div class="info-grey-box">
                <h3>Before Being Treated With Derma Fillers</h3>
                <p class="mb-3">Your skin will be numbed with a topical anesthetic and there is anesthetic in the filler as well. It is normal to experience swelling and bruising for a few days/ 2 weeks after your procedure. To minimize these side effects consider doing these things pre-procedure:</p>
                <ul class="list-style-circle">
                    <li>Avoid taking aspirin, nonsteroidal anti-inflammatory medications, st johns wort, omega 3 fatty acids (fish oil) and vitamin e supplements 5 days prior to your procedure</li>
                    <li> Avoid alcohol for 24 hrs prior to your procedure.</li>
                    <li> Consider taking an antihistamine for 2 days before your procedure to decrease swelling.</li>
                    <li> Consider taking oral arnica for 2 days before your procedure to decrease bruising.</li>
                </ul>
            </div>
            <div class="info-grey-box bg-white">
                <h3>Risks Associated with Derma Filler Injections</h3>
                <p class="mb-3">Severe complications from dermal fillers are uncommon, however, we’d like you to be aware of them.  These risks may vary depending on the filler used and include:</p>
                <ul class="list-style-circle">
                    <li>Acne like skin eruptions</li>
                    <li> Asymmetry</li>
                    <li> Bruising and bleeding from the injection site, swelling</li>
                    <li>  Damage to the skin that results in a wound and possible scarring</li>
                    <li>  Infection and the injection site</li>
                    <li>  Lumps or palpable filler under the skin</li>
                    <li>    Over correction of under correction</li>
                    <li>   Blindness</li>
                    <li> Skin necrosis due to an unidentified intravascular injection of filler.</li>
                </ul>


                <p>Please note that all of the Hyaluronic Acid fillers and Radiesse (CaHA) have an antidote that will dissolve the filler and likely resolve an intravascular injection. </p>
            </div>
        </div>
    </div>
</section>
