@page
@model BA.AllureSkinSolution.Pages.EVOModel
@{
}
<title>Quanta EVO Laser @@ Allure Skin Solutions and Medical Aesthetics</title>
<link rel="shortcut icon" type="image/x-icon" href="" />
<link rel="canonical" href="https://allureskinsolution.com/EVO" />
<meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:title" content="QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:url" content="https://allureskinsolution.com" />
<meta property="og:type" content="website" />
<meta property="og:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta property="og:image" content="/images/allure-logo.png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="90" />
<meta itemprop="name" content="Allure Skin Solutions" />
<meta itemprop="url" content="https://allureskinsolution.com/EVO" />
<meta itemprop="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
<link rel="image_src" href="/images/allure-logo.png" />
<meta itemprop="image" content="/images/allure-logo.png" />
<meta name="twitter:title" content="QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics" />
<meta name="twitter:image" content="/images/allure-logo.png" />
<meta name="twitter:url" content="https://allureskinsolution.com/EVO" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta name="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/EVO","description":"EVO Series lasers are engineered to deliver a wide range of treatments, safely, for all skin types. These lasers can erase pigmentation of varying size, shape and color because of the larger spot sizes and energy wavelengths available.  CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/service-face.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolution.com/images/service-face.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"QuantaEVOLaser","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO Series","description":"Laser Treatments with Italian engineered EVO Light Series, provide patients with best-in-class treatment results."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO AT ALLURE SKIN SOLUTIONS","description":"I invite you to come in for a complementary consult, which will allow me to outline the best treatment(s) to obtain your desired outcome."}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/EVO","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/blue.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Quanta EVO Laser</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-main text-right">
                    <img src="./images/EVO Machine 5.png" alt="">
                </div>
            </div>
            <div class="col-lg">
                <h3>EVO Series</h3>
                <p class="my-4">Laser Treatments with Italian engineered EVO Light Series, provide patients with best-in-class treatment results. </p>
                <p class="my-4"> Check out the <a href=" https://www.quantasystem.com/us/laser/light-series/ " target="_blank"> Quanta Systems </a> site to learn more!</p>
                <p>After conducting extensive research for a device that is as effective and safe as possible for patients, while providing an array of best-in-class treatments, Blackrock Medical Aesthetics located inside Allure Skin Solutions is proud to offer patients treatments via the EVO Light Series. </p>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/EVO Before and After.png" alt="">
                </div>
            </div>
            <div class="col-sm">
                <h3>EVO at Allure Skin Solutions</h3>
                <p class="my-4">I invite you to come in for a complementary consult, which will allow me to outline the best treatment(s) to obtain your desired outcome.</p>
                <p class="mb-5">Contact me at (208) 339-5492</p>
                <h6>OUR EVO SERIES LASER IS EFFECTIVE FOR:</h6>
                <ul>
                    <li>Hair Removal</li>
                    <li>Vascular Lesions</li>
                    <li>Pigmented Lesions</li>
                    <li>Acne Scaring</li>
                    <li>Fine Lines & Wrinkles</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="info-section py-120">
    <div class="container">
        <div class="row">
            <div class="info-grey-box">
                <h3>FAQs</h3>
                <h6 class="mb-4">Is an EVO laser treatment right for me?</h6>
                <p class="mb-5">EVO Series lasers are engineered to deliver a wide range of treatments, safely, for all skin types. These lasers can erase pigmentation of varying size, shape and color because of the larger spot sizes and energy wavelengths available. In contrast, the EVO’s narrow laser handpiece also delivers energy ideal for targeting leg veins.</p>
                <h6 class="mb-4">Will my EVO treatment hurt?</h6>
                <p class="mb-5">The EVO Series has several design features that improve comfort as well as reduce recovery time. The lasers treat pigmentation as evenly and precisely as possible to eliminate hot spots and promote natural healing. There is also a cooling feature for IPL treatments that enhances comfort.</p>
                <h6 class="mb-4">How many treatment sessions will I need?</h6>
                <p class="mb-5">The number of treatments needed depends on each patient case and desired outcomes.  Please schedule a consultation today, and I will be happy to create a personalized treatment plan for you.</p>
                <h6 class="mb-4">The EVO Difference</h6>
                <ul>
                    <li>Faster Treatments!</li>
                    <li>Effective for all skin types and pigmentations!</li>
                    <li>Designed for enhanced comfort via the integrated skin cooler!</li>
                </ul>
            </div>
        </div>
    </div>
</section>