@page "/facials-peels"
@model BA.AllureSkinsolution.facial_peelsModel
@section Metatags {
    <title>Facials and Peels @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/facials-peels" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Facials and Peels @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/facials-peels" />
    <meta itemprop="description" content="Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Facials and Peels @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/facials-peels" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074" />
    <meta name="description" content="Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"Facials and Peels @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/facials-peels","description":"Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/facial-peels-service.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolutions.com/images/facial-peels-service.jpg","areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"Facials and Peels","itemListElement":[{"@@type":"OfferCatalog","name":"Facials","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Signature Facials","description":"Skin-type specific treatment designed with your goals in mind. This treatment includes deep-cleansing, exfoliation, extractions and a mask."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Express Facial","description":"30 minute invigorating treatment that focuses on exfoliation, extractions, and your overall skin balance."}}]},{"@@type":"OfferCatalog","name":"Peels","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Anti-oxidant Exfoliation","description":"A summer time glow created by gentle fruit derived enzymes that aid in exfoliation while also laying an anti-oxidant defense system throughout the skin. Benefits include hydration, pigment correction, and reviving skin appearance. This treatment is ideal for dull or congested skin."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Chemical Peels","description":"Targeted to your specific skin type and with your goals in mind, peels help to correct pigment issues, fine lines and wrinkles. Improve skin texture while promoting healthy skin cells!"}}]}]}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/facials-peels","name":"Facials and Peels @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/facial-services.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Facials & Peels</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-4">what is Facials & Peels</h4>
                    <p>Nature makes them, we use them to stimulate cell turnover. These naturally occurring compounds are very effective in stimulating cell turnover, improving both texture and skin tone.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single pb0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/facial-peels-service.jpg" alt="">
                </div>
            </div>
            <div class="col-sm py-4">
                <h3>Why we need Facials?</h3>
                <p class="my-4">A cleansing facial will help your skin get rid of oil buildup, toxins and dirt from your everyday environment, thoroughly removing all the bacteria that could cause skin issues. A good exfoliation like microdermabrasion will remove dead skin cells from the surface of your skin and unclog your pores, allowing the absorption of other products. At the end of the procedure, LED light therapy will be administered to decrease any redness of the skin caused by the treatment</p>
                <p class="service-time">30-60 MINUTE PROCEDURE</p>
            </div>
        </div>
    </div>
</section>
<section class="info-section py-120">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="text-uppercase mb-5">
                    <h4>Types of facials we offer</h4>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-sm">
                <h3 class="text-uppercase">Signnature Facials</h3>
                <p>Skin-type specific treatment designed with your goals in mind. This treatment includes deep-cleansing, exfoliation, extractions and a mask.</p>
            </div>
            <div class="col-sm">
                <h3 class="text-uppercase">Express Facial</h3>
                <p>30 minute invigorating treatment that focuses on exfoliation, extractions, and your overall skin balance.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3 class="text-uppercase">Anti-Oxidant Exfoliation</h3>
                <p>
                    A summer time glow created by gentle fruit derived enzymes that aid in exfoliation while also laying an anti-oxidant defense system throughout the skin. Benefits include hydration, pigment correction, and reviving skin appearance. This treatment is ideal for dull or congested skin.
                </p>
            </div>
            <div class="col-sm">
                <h3 class="text-uppercase">Chemical Peels</h3>
                <p>Targeted to your specific skin type and with your goals in mind, peels help to correct pigment issues, fine lines and wrinkles. Improve skin texture while promoting healthy skin cells!</p>
            </div>
        </div>
    </div>
</section>
