@page "/forms"
@model BA.AllureSkinsolution.FormsModel
@section Metatags {
    <title>Forms @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/forms" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Glymed Plus @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.1.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/forms" />
    <meta itemprop="description" content="We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Forms @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/forms" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. CALL: (208) 939-9074" />
    <meta name="description" content="We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Forms @@ Allure Skin Solutions and Medical Aesthetics",
        "description": "We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. CALL: (208) 939-9074",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Forms @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/forms"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background: url(./images/forms-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Forms</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="mb-4">Information Station</h4>
                    <p>
                        Welcome new clients! We are very excited for the opportunity to assist you with all your aesthetic endeavors and want to thank you for choosing Allure. Before we continue, we need to get to know a little more about you, your current routines, and the skin solutions you are seeking. Please download the following forms, fill them out to the best of you ability, and bring them in to you scheduled appointment. We are looking forward to working with you!
                    </p>
                    <p>
                        <a href="~/documents/client-intake-form.pdf" target="_blank" class="btn btn-primary mt-3 rounded-0 px-3 text-dark bg-light">Client Intake Form</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container covid-plan">
        <div class="row">
            <div class="col">
                <h2 class="pb-3 text-center">
                    ALLURE SKIN SOLUTIONS & MEDICAL AESTHETICS
                    <br />
                    COVID-19 SAFETY PROTOCOL FOR CLIENTS & STAFF
                </h2>
                <p>
                    In order to keep our clients and patrons safe and reduce the risk of community spread and infection, Allure Skin Solutions & Medical Aesthetics will be implementing the following COVID-19 PREPAREDNESS PLAN:
                </p>
                
                <p>
                    1. We will be scheduling clients further apart to allow ample time for procedures, as well as time to wipe down surfaces in between appointments.
                </p>
                <p>
                    2. If the Licensed Esthetician is working on the same day, both providers will wear masks at all times, maintain an acceptable distance from one another and will not enter one another’s treatment rooms unless necessary.
                </p>
               
                <p>
                    3. A container of disinfectant wipes will be placed at the desk.  Computer, Clover Device & other work surfaces will be wiped down each time a provider or client has finished using them.
                </p>
              
               
                <p>
                    4. Please plan to use hand sanitizer upon entering the spa. You will have access to a “clean” pen to fill out your paperwork. There will be a bin you can place the pen you used into. Used pens will not be reused until they have been wiped down with a disinfectant wipe.
                </p>
                <p>
                    5. Upon checking out, you are welcome to use hand sanitizer before you leave if you wish.
                </p>
                <h3 class="mt-5">
                    <b>Procedures</b>
                </h3>
                <p>
                    1. All aesthetic procedures will be performed by an Allure Provider wearing a mask, and gloves. A new mask will be worn for each client and gloves will be changed as is appropriate during each procedure.
                </p>
                <p>
                    2. Machines, tools, work surfaces, vessels and product vials, unless prepackaged, will be wiped down with alcohol free disinfectant wipes or covered with a clean disposable item between each client.
                    <br />
                    (Example: Hydrafacial machine, booster and serum vials should be wiped down with alcohol free disinfectant wipe between each client.  Use disposable plastic bag for facial bowls & disposable spa table covers on beds & pillows).
                </p>
                <p>
                    3.Product (cleansers, serums, masks, moisturizers, numbing cream, etc.) will be placed in individual med cups prior to each procedure to avoid contamination of product during procedures. Individualized packages of certain items will be used and then disposed of or given to the client to take home.
                </p>
                <p>
                    4. At the end of each day, work surfaces and client areas will be cleaned before leaving the spa.
                </p>
            </div>
        </div>
    </div>
</section>

