@page "/hair-treatment-restoration"
@model BA.AllureSkinsolution.hair_treatment_restorationModel
@section Metatags {
    <title>Hair Treatments @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/hair-treatment-restoration" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Hair Treatments @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. CALL: (208) 939-9074 to learn more." />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/hair-treatment-restoration" />
    <meta itemprop="description" content="Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. CALL: (208) 939-9074 to learn more." />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Hair Treatments @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/hair-treatment-restoration" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. CALL: (208) 939-9074 to learn more." />
    <meta name="description" content="Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. CALL: (208) 939-9074 to learn more." />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"Hair Treatments @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/hair-treatment-restoration","description":"Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. CALL: (208) 939-9074 to learn more.","image":"https://allureskinsolution.com/images/male-patterned-baldness.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Hair Treatments and Restoration","image":"Facials and peels are used to stimulate cell turnover, improving skin texture and tone. CALL: (208) 939-9074"},"areaServed":{"@@type":"City","name":"Boise"},"description":"Platelet Rich Plasma PRP is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men."},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/hair-treatment-restoration","name":"Hair Treatments @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/hair-restoration-services.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="inner-caption text-left text-uppercase">
                    <h1>Hair Treatment & Restoration</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class=" mb-4">Hair Treatment & Restoration</h4>
                    <p class="mb-4">Platelet Rich Plasma (PRP) is a popular new and non-surgical method of hair loss treatment and hair restoration for both women and men. Your blood is drawn by an advanced practice nurse, it is then spun in a centrifuge and the PRP is separated and removed from the rest of the blood, leaving only enriched cells that are comprised of various types of proteins and peptides.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/male-patterned-baldness.jpg" alt="Treatment for Male Patterned Baldness">
                </div>
            </div>
            <div class="col-sm">
                <h3>More about PRP</h3>
                <p class="mb-3">In particular, some of the adult PRP specific cells that cause hair growth include:</p>
                <ul class="list-style-circle mb-5">
                    <li>  Platelet-Derived Growth Factor (PDGF): for blood vessel, cell and skin formation.</li>
                    <li> Vascular Endothelial Growth Factor (VEGF): For blood vessel formation.</li>
                    <li>  Transforming Growth-Factor-Beta (TGF-b): For a growth matrix between cells, bone metabolism.</li>
                    <li>  Epidermal Growth Factor (EGF): Cell growth, collagen and blood vessel formation.</li>
                    <li> Fibroblast Growth Factor-2 (FGF-2): Blood vessel and specialized cell growth.</li>
                    <li> Insulin Like Growth Factor-1 (IGF-1): Also known as Somatomedin C, a protein regulator of normal physiology in nearly every type of cell in the body and has anabolic effects in adults.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="info-section py-120">
    <div class="container">
        <div class="row">
            <div class="">
                <h4 class="pb-3">How does it work</h4>
                <p class="pb-3">PRP is concentrated to 3x the normal blood value. The PRP is then ready to be injected into the treatment area of your scalp. No medications are required pre or post procedure, although we may recommend Tylenol pre-procedure to help alleviate post-procedure discomfort. PRP contains many growth factors that stimulate hair follicles and can be performed up to every month based on how much hair growth is required.</p>
                <p class="pb-3">In recent years, PRP has become a popular and viable option for patients looking to restore hair; PRP is viewed as a “natural” way to restore hair. Most medications used to restore hair, such as Propecia for example, have significant side effects such as erectile dysfunction in men. Most of these medications are contraindicated in women, especially those of child-bearing age. The one exception is Rogaine (Minoxidil), which is the only FDA approved drug used in the treatment of female pattern baldness.</p>
                <p class="pb-3">PRP is a great solution for both women and men, especially when hair transplant surgery is not an option. PRP injections can stimulate new hair growth in men who suffer from androgenetic alopecia also known as male pattern baldness and women who suffer from female pattern baldness. The procedure requires injections into the scalp area where the hair is currently thinning. A topical anesthetic cream will be applied to the scalp one hour before the procedure, to minimize any discomfort from the injections. The procedure will take approximately 30 minutes from the time your blood is drawn until the PRP is injected into your scalp. PRP injections are a versatile procedure that has been used elsewhere in the body as a method of healing injuries. PRP is also used as a cosmetic treatment for the face and tear troughs as well.</p>
                <p>PRP treatments can be used in tandem with other hair treatment options. PRP treatments should be performed on average, every 4 to 6 weeks for three sessions. Further treatments will be evaluated by the end of the fourth month. All hair treatment options including PRP will be thoroughly discussed at the time of the initial consultation.</p>
            </div>
            <div class="info-grey-box mt-5">
                <h3>Are there any potential side effects to PRP Hair Treatment?</h3>
                <p class="mb-3">PRP has been used to restore skin and tissue in patients for several years, however the hair restoration procedure is relatively new. There are several articles that have reported improvement in hair growth, and recovery from procedures is easily tolerated. All previous medical history will be discussed with one of our advanced practice nurses before starting the treatment as well as a full assessment of the nature of the hair loss.</p>

            </div>
        </div>
    </div>
</section>
