@page "/hydrafacial"
@model BA.AllureSkinsolution.hydrafacialModel
@section Metatags {
    <title>HydraFacials @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/hydrafacial" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="HydraFacials @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/hydrafacial" />
    <meta itemprop="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="HydraFacials @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/hydrafacial" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
    <meta name="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"HydraFacials @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/hydrafacial","description":"This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/service-face.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolution.com/images/service-face.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"HydraFacial","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Signature Hydrafacial","description":"The Signature HydraFacial is a 3-step 30 minute treatment that deeply cleanses, extracts and hydrates the skin."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Deluxe Hydrafacial","description":"The Deluxe HydraFacial system is the signature experience with the addition of any of the following services for particular results."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Premium Hydrafacial","description":"The ultimate HydraFacial experience. This procedure begins the detoxification process with Lymphatic Drainage, followed with the Signature HydraFacial to deeply cleanse, extract and hydrate the skin, and concludes with LED Light Therapy to further reduce the visible signs of aging."}}]}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/hydrafacial","name":"Hydrafacials @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
    <section class="inner-banner-area d-flex align-items-center" style="background:url(./images/hydrafacial-service-banner.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="inner-caption text-center text-uppercase">
                        <h1>HydraFacial</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-area">
        <div class="content-header py-120 text-left">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4 class="text-uppercase mb-5">what is HydraFacial</h4>
                        <p class="mb-5">Reclaim your skin with a HydraFacial! This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture. You will see visible improvement in brown spots and if acne is your nemesis, we’ve got you covered! </p>
                        <p>A HydraFacial begins with a mechanical and chemical exfoliation, chemical peel, extraction of blackheads, whiteheads, dirt, oil and debris.  It then deposits antioxidants, vitamins, peptides and hyaluronic acid into the skin to fuse and protect the cells. HydraFacial’s VORTEX FUSION technology opens and closes the pores sucking impurities out and infusing GLOW!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <div class="image-space-main">
                        <img src="./images/service-face.jpg" alt="">
                        <img class="bottom-image" src="./images/after-before.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm">
                    <h3>Signature HydraFacial</h3>
                    <p class="my-4">The Signature HydraFacial is a 3-step 30 minute treatment that deeply cleanses, extracts and hydrates the skin.</p>
                    <h6>Other areas that can be treated alone or added to this:</h6>
                    <ul>
                        <li>Neck & Décolleté</li>
                        <li>Back</li>
                        <li>Arms</li>
                        <li>Hands</li>
                    </ul>
                    <p class="service-time">30 MINUTE PROCEDURE</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg order-lg-2">
                    <div class="image-space-main text-right">
                        <img src="./images/boosters.jpg" alt="">
                        <img class="bottom-image" src="./images/man-lips.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg">
                    <h3>Deluxe HydraFacial</h3>
                    <p class="my-4">The Deluxe HydraFacial system is the signature experience with the addition of any of the following services for particular results:</p>
                    <ul>
                        <li>Age Refinement <span> Add a derma builder boost to reduce fine lines and wrinkles</span></li>
                        <li>Restorative  <span>Add a connective tissue growth factor to improve skin tone, texture and elasticity</span></li>
                        <li>Radiance <span>Add a brightenol boost to minimize the appearance of dark spots</span></li>
                        <li>Clarifying  <span>Add a extended extractions and the use of LED light therapy to reduce congestion</span></li>
                    </ul>
                    <p class="service-time">45 MINUTE PROCEDURE</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg">
                    <div class="image-space-main">
                        <img src="./images/performing-hydra-facial-services.jpg" alt="Performing a Premium HydraFacial">
                        <img class="bottom-image" src="./images/after-chiks.jpg" alt="Before and After HydraFacial Treatment">
                    </div>
                </div>
                <div class="col-lg">
                    <h3>Premium HydraFacial</h3>
                    <p class="my-4">The ultimate HydraFacial experience. This procedure begins the detoxification process with Lymphatic Drainage, followed with the Signature HydraFacial to deeply cleanse, extract and hydrate the skin, and concludes with LED Light Therapy to further reduce the visible signs of aging.</p>
                    <h6>In addition, to address specific skin concerns, choose between any our offered boosters.</h6>
                    <p class="service-time">60 MINUTE PROCEDURE</p>
                </div>
            </div>
        </div>
    </section>
    <section class="info-section py-120">
        <div class="container">
            <div class="row">
                <div class="info-grey-box">
                    <h3>HydraFacial Treatment Specifics</h3>
                    <ul class="list-style-circle">
                        <li>Hydrafacial is good for all skin types. </li>
                        <li>The hydrafacial is noninvasive, with no down time, and results are immediate. </li>
                        <li>Hydrafacial is safe to have prior to neuromodulator and/or filler injections.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>