@page
@model IndexModel
@section Metatags {
    <title>Allure Skin Solution, Medical Aesthetics &amp; Skin Care | Boise, Idaho</title>
    <meta name="google-site-verification" content="zt-zD_I7tDdk_vY0kn-pPT5dSWBRk5_fU9wqNw5f4zQ" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com" />
    <meta property="og:site_name" content="Allure Skin Solution" />
    <meta property="og:title" content="Allure Skin Solution, Medical Aesthetics &amp; Skin Care | Boise, Idaho" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian." />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solution" />
    <meta itemprop="url" content="https://allureskinsolution.com" />
    <meta itemprop="description" content="We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian." />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Allure Skin Solution | Medical Aesthetics &amp; Skin Care Treatments" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian." />
    <meta name="description" content="We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian." />
}

@section Schema {
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "HealthAndBeautyBusiness",
        "name": "Allure Skin Solution",
        "url": "https://allureskinsolution.com",
        "logo": "https://allureskinsolution.com/images/AllureLogo1.png",
        "image": "https://allureskinsolution.com/images/AllureOffice2.jpg",
        "email": "aesthetics@allureskinsolution.com",
        "telephone": "+1 2089399074",
        "address":
        {
        "@@type": "PostalAddress",
        "streetAddress": "7950 N Horseshoe Bend Rd Suite 105",
        "addressLocality": "Eagle",
        "addressRegion": "ID",
        "postalCode": "83714",
        "addressCountry": "US"
        },
        "priceRange": "$$",
        "paymentAccepted": "Cash, Credit Card",
        "potentialAction" :
        {
        "@@type" : "SearchAction",
        "target" : "https://www.bing.com/search?q1=site:allureskingsolution.com&q={search_term}",
        "query-input" : "required name=search_term"
        },
        "geo":
        {
        "@@type": "GeoCoordinates",
        "latitude": "43.684935",
        "longitude": "116.313263"
        },
        "openingHours":["Mo-Fr 10:00-18:00"],
        "contactPoint":
        {
        "@@type": "ContactPoint",
        "contactType": "Sales",
        "email": "aesthetics@allureskinsolution.com",
        "telephone": "+1 2089399074"
        },
        "sameAs": [
        "https://www.instagram.com/allure.skin.solutions/",
        "https://www.facebook.com/allureskinsolutions/"
        ],
        "review":
        {
        "@@type": "Review",
        "url": "https://goo.gl/maps/2ygGBhyd6wHpPFqP8",
        "author":
        {
        "@@type": "Person",
        "name": "Wards Ward"
        },
        "publisher":
        {
        "@@type": "Organization",
        "name": "Google",
        "sameAs": "https://google.com"
        }},
        "datePublished": "2020-06-13T20:00",
        "description": "Tonia  is my miracle skin gal and takes great care of me and my needs.  All the professionals at Allure are fantastic with all the attention to detail and hygiene and safety. Highly recommended.",
        "inLanguage": "en",
        "reviewRating":
        {
        "@@type": "Rating",
        "worstRating": 1,
        "bestRating": 5,
        "ratingValue": 5
        }
        },
        {
        "@@context": "http://schema.org",
        "@@type": "Website",
        "name": "Allure Skin Solution, Medical Aesthetics &amp; Skin Care | Eagle, Idaho",
        "url": "https://allureskinsolution.com",
        "contentRating": "G",
        "keywords": "Botox, Radiesse, Juvederm, HydraFacial, Micro Needling,Celluma Light Therapy, Neuromodulators, Dermal Fillers ",
        "sameAs": [
        "https://www.instagram.com/allure.skin.solutions/",
        "https://www.facebook.com/allureskinsolutions/"
        ]
        },
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "breadcrumb":
        {
        "@@context" : "https://schema.org",
        "@@type" : "BreadcrumbList",
        "itemListElement" : [{
        "@@type" : "ListItem",
        "position" : "1",
        "name" : "Allure Skin Solution, Medical Aesthetics &amp; Skin Care | Eagle, Idaho",
        "item" : "https://allureskinsolution.com"
        }]
        }
        }
    </script>
}
<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-7">
                <div class="inner-caption text-uppercase">
                    <h1>Revitalize the beauty of your changing skin</h1>
                    <p class="py-3">LET US RENEW THE ALLURE IN YOU!</p>
                    <a asp-page="/Services" class="btn btn-primary mt-3 ">Explore Services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-area">
    <div class="head-section py-120 text-center text-uppercase">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 class="pb-3">Skin Perfecting Services</h2>
                    <p>In the hands of our expert providers, our products and treatments will revitalize the beauty of your changing skin!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-services">
        <div class="services-outer d-xl-flex">
            <div class="single-services" style="background-image: url(./images/service-one.jpg);">
                <div class="inner-service text-light">

                    <div class="service-content">
                        <!-- client wanted to remove images. Commenting out just in case they changed their minds.
                        <h3>Services</h3>
                        <ul>
                            <li><a asp-page="/exfoliation">Exfoliation</a></li>
                            <li><a asp-page="/hydrafacial">HydraFacial</a></li>
                            <li><a asp-page="/Microneedling">Microneedling</a></li>
                            <li>Facial Waxing</li>
                            <li><a asp-page="/facial_peels">Facials & Peels</a></li>
                            <li><a asp-page="/celluma_light_therapy">Celluma Light Therapy</a></li>
                        </ul>
                            -->
                        <p>
                            In our 20's our skin is voluminous, with little to no signs of aging. A good skin care regimen, regular exfoliation and hydration keep skin looking youthful and resilient!
                        </p>
                    </div>

                </div>
                <div class="service-count"> 20's </div>
            </div>


            <div class="single-services" style="background-image: url(./images/service-two.jpg);">
                <div class="inner-service text-light">

                    <div class="service-content">
                        <!--
                        <h3>Services</h3>
                        <ul>
                            <li><a asp-page="/Microneedling">Microneedling</a></li>
                            <li><a asp-page="/neuro_modulators">Neuromodulators</a></li>
                            <li><a asp-page="/exfoliation">Exfoliation</a></li>
                            <li><a asp-page="/hydrafacial">HydraFacial</a></li>
                        </ul>
                            -->
                        <p>
                            As we approach our 30’s, collagen and elastin production slows causing the formation of dynamic lines (wrinkles that are present with expression) and static lines (wrinkles that are always visible) and our complexion can become dull. The addition of Neuromodulators minimizes the formation of deep lines and wrinkles. Microneedling with platelet rich plasma (prp) infuses the skin with nutrients that help stimulate collagen and stem cell production leading to improved tone, and smoother and tighter skin.
                        </p>
                    </div>

                </div>
                <div class="service-count"> 30's </div>
            </div>


            <div class="single-services" style="background-image: url(./images/service-three.jpg);">
                <div class="inner-service text-light">

                    <div class="service-content">
                        <!--
                        <h3>Services</h3>
                        <ul>
                            <li><a asp-page="/lip_augmentation">Lips</a></li>
                            <li><a asp-page="/treatment_of_deep">Deep & Fine Lines</a></li>
                            <li><a asp-page="/cheeks">Cheeks</a></li>
                            <li><a asp-page="/tear_trough_rejuvenation">Tear Trough Rejuvenation</a></li>
                        </ul>
                            -->
                        <p>
                            In our 40's and 50's we start to lose volume in our faces as fat pads start to diminish and migrate causing our cheeks to sag, our skin to look thin and the edges of our lips and chin to pull down. The addition of dense fillers can add volume to the face, while fillers with more elastic, moveable properties can be used to smooth out deep and fine lines.
                        </p>
                    </div>

                </div>
                <div class="service-count"> 40's </div>
            </div>


            <div class="single-services" style="background-image: url(./images/service-four.jpg);">
                <div class="inner-service text-light">

                    <div class="service-content">
                        <!--
                        <h3>Services</h3>
                        <ul>
                            <li><a asp-page="/Kybella">Kybella</a></li>
                            <li><a asp-page="/Sculptra">Sculptra</a></li>
                            <li><a asp-page="/Radiesse">Radiesse</a></li>
                            <li><a asp-page="/treatment_of_deep">Restylane Lyft</a></li>
                            <li><a asp-page="/hair_treatment_restoration">Hair Treatment & Restoration</a></li>
                        </ul>
                            -->
                        <p>
                            In our 50's and 60's the aging of our skin is accelerated. Facial contours change due to bone thinning. Skin becomes loose around the eyes and bags form as gravity pulls on the face causing skin to hang. Our skin becomes thick and dense. After 70 all of these changes become even more prominent. There are fillers that can stimulate collagen growth, generating a structural matrix that recreates contour in the face and jaw. The extra chin can be dissolved away with Kybella.
                        </p>
                    </div>
                </div>
                <div class="service-count"> 50's </div>
            </div>

        </div>
    </div>
</section>
<section class="place-review">
    <div class="head-section py-120 text-center text-uppercase">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 class="pb-3">A Place to Renew</h2>
                    <p>Located in Eagle ID, our space provides a cozy, serene & private practicality </p>
                </div>
            </div>
        </div>
    </div>
    <div class="review-gallery">
        <div class="d-flex flex-wrap">
            <div class="left-gallery col-12 col-sm-6 p-0">
                <img src="./images/gallery-one.jpg" alt="">
            </div>
            <div class="right-gallery col-sm-6 p-0 col-12">
                <div class="upper-box-review d-flex">
                    <img class="w-50" src="./images/gallery-two.jpg" alt="">
                    <img class="w-50" src="./images/gallery-three.jpg" alt="">
                </div>
                <div class="bottor-box-review">
                    <img src="./images/Gallery6(1).png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial-section text-uppercase text-center py-120">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class=" head-section pb-5">
                    <h2 class="pb-3">Testimonials</h2>
                    <p>Here’s what our beautiful clients have to say about us! </p>
                </div>
                <div class="testmonial-slider">
                    <div class="owl-carousel">
                        <div class="single-testimonial text-left p-5">
                            <div class="upper-header-testimonial d-flex mb-3">
                                <div class="testimonial-image">
                                    <img src="./images/testimonial-one.jpg" alt="">
                                </div>
                                <div class="testimonial-review-name ml-3 mb-2">
                                    <div class="rating-model mb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Katie M.</h5>
                                </div>
                            </div>
                            <div class="upper-body-testimonial">
                                <p>Jennifer is incredible; very professional, responds promptly and provides a thorough facial. she explained every part of the process and followed up with me to ensure i was satisfied with the results. I've continued to come back to her because of her expertise in skincare and wonderful personality. I highly recommend her and have referred friends who feel the same way!</p>
                            </div>
                        </div>
                        <div class="single-testimonial text-left p-5">
                            <div class="upper-header-testimonial d-flex mb-3">
                                <div class="testimonial-image">
                                    <img src="./images/testimonial-tracy-t.jpg" alt="Testimonial from Tracy T">
                                </div>
                                <div class="testimonial-review-name ml-3 mb-2">
                                    <div class="rating-model mb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Tracy T.</h5>
                                </div>
                            </div>
                            <div class="upper-body-testimonial">
                                <p>
                                    Very professional, flexible schedules, great results!
                                </p>
                            </div>
                        </div>
                        <div class="single-testimonial text-left p-5 ">
                            <div class="upper-header-testimonial d-flex mb-3">
                                <div class="testimonial-image">
                                    <img src="./images/testimonial-vickie-c.jpg" alt="Testimonial from Vickie C">
                                </div>
                                <div class="testimonial-review-name ml-3 mb-2">
                                    <div class="rating-model mb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Vickie C.</h5>
                                </div>
                            </div>
                            <div class="upper-body-testimonial">
                                <p>Allure skin Solutions and Medical Aesthetics took care of my beauty needs. A very professional staff and lovely location I recommend them for all your Botox and filler needs along with the facials!!!!</p>
                            </div>
                        </div>
                        <div class="single-testimonial text-left p-5 ">
                            <div class="upper-header-testimonial d-flex mb-3">
                                <div class="testimonial-image">
                                    <img src="./images/testimonial-anita-b.jpg" alt="Testimonial from Anita B">
                                </div>
                                <div class="testimonial-review-name ml-3 mb-2">
                                    <div class="rating-model mb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Anita B.</h5>
                                </div>
                            </div>
                            <div class="upper-body-testimonial">
                                <p>
                                    Very friendly and educated people. Very willing to listen to you concerns. They are great gals.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="instagram-section text-uppercase text-center">
    <div class="container">
        <div class="row">
            <div class="col py-120">
                <h2>Follow <img src="./images/allure-footer-logo.png" alt=""> on</h2>
                <ul id="featured-social-media" class="d-flex justify-content-center">
                    <li><a href="https://www.facebook.com/pg/allureskinsolutions" target="_blank" class="p-3"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/allure.skin.solutions/" target="_blank" class="p-3"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="logos-display text-center">
            <div><img src="~/images/epionce-logo.png" alt="Epionce" /><a target="_blank" href="https://www.epionce.com/products/?a=20170827"><br />Shop Epionce Products</a></div>
            <div><a target="_blank" href="https://glymedplus.io/store/allureskinsolution"><img src="~/images/glymed-plus-logo.png" alt="GlyMed Plus" /><br />Shop GlyMed Products</a></div>
            <div><img src="~/images/latisse.jpg" alt="Epionce" /></div>
            <div><img class="defenage" src="~/images/eminence.jpg" alt="eminence" /></div>
            <div><img src="~/images/face-reality-logo.jpg" alt="face-reality" /></div>
            <div><img src="~/images/tizo.jpg" alt="tizo" /></div>
            <div><img class="" src="~/images/priia.jpg" alt="priia" /></div>
            <div><img class="" src="~/images/logo-skinmedica(1).png" alt="SkinMedica" /></div>
            <div><img class="" src="~/images/alastin_logo.png" alt="alastin" /></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col py-120 text-center">
                <h2>
                    We look forward to helping you attain and renew your best skin!
                </h2>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $('#myModal').modal('show')
    </script>
}