@page "/kybella"
@model BA.AllureSkinsolution.KybellaModel
@section Metatags {
    <title>Kybella @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/kybella" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Kybella @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Kybella is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/kybella" />
    <meta itemprop="description" content="Kybella is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Latisse @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/kybella" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Kybella is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment. CALL: (208) 939-9074" />
    <meta name="description" content="Kybella is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment. CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/celluma-light-service.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"Kybella @@ Allure Skin Solutions","url":"https://allureskinslution.com/kybella","description":"Kybella is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment. CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/kybella-banner.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"https://schema.org/","@@type":"Product","name":"Kybella","image":"https://allureskinsolution.com/images/kybella-banner.jpg","description":"KYBELLA is the only FDA-approved injectable treatment that destroys fat cells in the treatment area under the chin to improve your profile. Two chins are better than one... said no one ever!! Say goodbye to that double chin and find a whole new profile with KYBELLA! ","brand":"Kybella","manufacturer":"Allergan","offers":{"@@type":"Offer","url":"https://allureskinsolution.com/menu","priceCurrency":"USD","price":"950","availability":"https://schema.org/InStoreOnly","itemCondition":"https://schema.org/NewCondition"}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/kybella","name":"Kybella @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/kybella-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-left text-uppercase">
                    <h1>Kybella</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-4">What is Kybella</h4>
                    <p class="mb-4">KYBELLA® is the only FDA-approved injectable treatment that destroys fat cells in the treatment area under the chin to improve your profile. Two chins are better than one…said no one ever!! Say goodbye to that double chin and find a whole new profile with KYBELLA®! </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/kybella-service.png" alt="Kybella Treatment Destroys Fat Cells">
                    <img class="bottom-image" src="./images/kybella-before-after.jpg" alt="Before and After Kybella Treatment">
                </div>
            </div>
            <div class="col-sm">
                <h3>How does it work?</h3>
                <p class="my-4">It is a non surgical treatment for submental fat, the fat under your chin. It is the only FDA-approved injectable treatment and works by destroying fat cells under the chin to improve your profile. The active ingredient in KYBELLA® is synthetic deoxycholic acid. Deoxycholic acid is a naturally occurring molecule in the body that aids in the breakdown and absorption of dietary fat. When injected into the fat beneath the chin, it destroys the fat cells so they can no longer store fat. </p>
                <p class="my-4">For optimum results a minimum of 3 treatments is necessary and depending on the significance of fat accumulation under the chin more may be needed.</p>

                <p class="service-time">30 minutes</p>
                <p class="dull">Results lasts lifetime</p>
            </div>
        </div>
    </div>
</section>

<section class="info-section py-120">
    <div class="container">
        <div class="row">
            <div class="info-grey-box">
                <h4>Kybella Procedure Specifics</h4>
                <p>Your skin will be numbed with a topical anesthetic and there is anesthetic in the filler as well. It is normal to experience swelling and bruising for a few days/ 2 weeks after your procedure. To minimize these side effects consider doing these things pre-procedure:</p>
                <ul class="list-style-circle mt-5">
                    <li>The most common side effects include pain, significant swelling, redness, numbness and hardness around the treatment area. </li>
                    <li>More serious side effects include bruising, open sores (ulcers), tissue necrosis, hair loss, difficulty swallowing and nerve injury including facial muscle weakness.</li>
                    <li>These more severe complications have been studied in clinical trials and have been found to resolve with time on their own.</li>
                </ul>
            </div>

        </div>
    </div>
</section>
