@page "/menu"
@model BA.AllureSkinsolution.MenuModel
@section Metatags {
    <title>Menu @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/menu" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Menu @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content=" Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us." />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/menu" />
    <meta itemprop="description" content=" Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us." />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Menu @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/menu" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content=" Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us." />
    <meta name="description" content=" Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us." />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "Service",
        "name": "Menu",
        "description": " Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us."
        },
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Menu @@ Allure Skin Solutions and Medical Aesthetics",
        "description": " Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us.",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Menu @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/menu"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background: url(./images/menu-services.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Menu</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-area">
    <div class="content-header py-120 pb0 text-left">
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <h4 class="mb-4 font-weight-bold">Our Full Menu</h4>
                    <p>
                        Here at Allure, we offer a large variety of affordable products and services that will work flawlessly with your personal skin care regiment! With so many options, we happily provide professional consultations to ensure the best results every time so never hesitate to contact us. Also, be sure to check out our current promotion packages for fantastic deals that will not only save your money, but your gorgeous glow as well.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-area">
    <div class="container">
        <div id="menu">
            <div class="row">
                <div class="col-md-6">

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Permanent Makeup</h4>
                        <p>
                            By Brooke <a href="https://brows-by-brooke.square.site/" target="_blank"> https://brows-by-brooke.square.site/ </a>  or visit her instagram <a href="https://www.instagram.com/brows_bybrooke/" target="_blank">https://www.instagram.com/brows_bybrooke/</a>
                        </p>
                        <ul>
                            <li><strong> Ombre' Powder Brows  </strong> </li>
                            <li><strong> Nano/Combo Brows  </strong> </li>

                        </ul>
                    </div>


                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Neuromodulators</h4>
                        <p>
                            Minimize those fine lines and smooch wrinklers. Enjoy a procedure that produces visible results!
                        </p>
                        <ul>
                            <li>
                                <strong>Botox Cosmetics</strong>
                            </li>
                            <li>
                                <strong>Xeomin</strong>
                            </li>
                            <li>
                                <strong>Dysport</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Dermal Fillers</h4>
                        <ul>
                            <li>
                                <strong>Mini Lip Plump</strong> (0.55ml syringe)
                            </li>
                            <li>
                                <strong>Restylane Silk</strong>
                            </li>
                            <li>
                                <strong>Juvederm Ultra XC and Plus</strong>
                            </li>
                            <li>
                                <strong>Defyne, Refyne, Vollure, Volbella, Belotero</strong>
                            </li>
                            <li>
                                <strong>Voluma, Lyft, Radiesse</strong>
                            </li>
                            <li>
                                <strong>Sculptra</strong>
                            </li>
                            <li>
                                <strong>Hand Rejuvenation</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Hydra Facial</h4>
                        <div>
                            <p>
                                By Kali <a href="https://naturalbeautyandbrows.com" target="_blank"> https://naturalbeautyandbrows.com </a>  and Shawn <a href=" https://www.skinsensebyshawn.com" target="_blank"> https://www.skinsensebyshawn.com </a>
                            </p>
                        </div>
                        <p>
                            This facial addresses all skin care needs, from fine lines and wrinkles, to brown spots and acne. It also improves elasticity and texture. Ask us about adding a booster.
                        </p>
                        <ul>
                            <li>
                                <strong>Signature Treatment</strong>
                            </li>
                            <li>
                                <strong>45 Minute Deluxe Treatment</strong>
                            </li>
                            <li>
                                <strong>60 Minute Deluxe Treatment</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Kybella</h4>
                        <ul>
                            <li>
                                <strong>1 Treatment</strong>
                                <br />
                                Chin Augmentation
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Facials and Chemical Peels</h4>
                        <div>
                            <p>
                                By Kali <a href="https://naturalbeautyandbrows.com" target="_blank"> https://naturalbeautyandbrows.com </a>  and Shawn <a href=" https://www.skinsensebyshawn.com" target="_blank"> https://www.skinsensebyshawn.com </a>
                            </p>
                        </div>
                        <p>
                            Nautre makes them, we use them to stimulate cell turnover. These naturally occurring compounds are very effective in stimulating cell turnover, improving both texture and skin tone.
                        </p>
                        <ul>
                            <li>
                                <strong>Express Facial</strong>
                                <br />
                                30 minute invigorating treatment focusing on exfoliation, extractions, and overall skin balance.
                            </li>
                            <li>
                                <strong>Customized Signature Facial</strong>
                                <br />
                                This treatment includes deep-cleansing, exfoliation, enzyme, extraction and a mask, all customized to skin type.
                            </li>
                            <li>
                                <strong>Dermaplaning Treatment</strong>
                                <br />
                                This treatment removes superficial dead skin cells as well as the vellus hair. After exfoliation, nejoy a skin type appropriate mask to soothe and re-hydrate the skin.
                            </li>
                            <li>
                                <strong>Microdermabrasion</strong>
                                <br />
                                Reverse the signs of aging by minimizing fine lines and retexturing the skin. Treatment includes steam, masking and finishing products.
                            </li>
                            <li>
                                <strong>Chemical Peels</strong>
                                <br />
                                Targeting specific skin ty pe, peels help to correct pigment issues, fine lines and wrinkles. Improve skin texture while promoting healthy skin cells.
                                <br />
                                <strong>Add Dermaplane to any service</strong>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Microneedling</h4>
                        <div>
                            <p>
                                By Kali <a href="https://naturalbeautyandbrows.com" target="_blank"> https://naturalbeautyandbrows.com </a>  and Shawn <a href=" https://www.skinsensebyshawn.com" target="_blank"> https://www.skinsensebyshawn.com </a>
                            </p>
                        </div>
                        <p>
                            This treatment targets fine lines and wrinkles, scarring, sun spots, stretch marks, and loose skin creating tighter pores and vibrant, younger-looking skin.
                        </p>
                        <ul>
                            <li>
                                <strong>Single Treatment Session</strong>
                            </li>
                            <li>
                                <strong>Series of 3 Microneedling without PRP</strong>
                            </li>
                            <li>
                                <strong>With PRP</strong>
                            </li>
                            <li>
                                <strong>Microneedling with HGF (Human Growth Factor)</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Twilight Microneedling</h4>
                        <p>
                            This amazing therapy utilizes PRP to enhance the bodies inrinsic healing mechanisms. It promotes collagen and elastin production while simultaneously increasing blood flow to the area for maximum results. Includes 3 Treatments.
                        </p>
                        <ul>
                            <li>
                                <strong>Decolletage</strong>
                            </li>
                            <li>
                                <strong>Neck</strong>
                            </li>
                            <li>
                                <strong>Face</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">PRP Treatments</h4>
                        <p>
                            <strong>Tear Troughs</strong>
                        </p>
                        <ul>
                            <li>
                                <strong>Single Treatment with PRP & Filler</strong>
                            </li>
                            <li>
                                <strong>Series of 3 (1 with PRP & filler, 2 with PRP)</strong>
                            </li>
                            <li>
                                <strong>Total Eye Rejuvenation</strong>
                                <br />
                                <strong>(1 with Botox, filler & PRP, 2 with PRP)</strong>
                            </li>
                            <li>
                                <strong>Hair restoration with PRP</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Other Services</h4>
                        <div>
                            <p>
                                By Kali <a href="https://naturalbeautyandbrows.com" target="_blank"> https://naturalbeautyandbrows.com </a>  and Shawn <a href=" https://www.skinsensebyshawn.com" target="_blank"> https://www.skinsensebyshawn.com </a>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <strong>Facial Waxing</strong>
                                <br />
                                <strong>Lip or Chin</strong>
                                <br />
                                <strong>Eyebrows</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Latisse</h4>
                        <ul>
                            <li>
                                <strong>3ml Bottle</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-wrap mb-5">
                        <h4 class="mb-4 font-weight-bold">Skin Care</h4>
                        <ul>
                            <li>
                                <strong>
                                    Epionce
                                </strong>
                                <br />
                                We carry regimens for all skin types and problems.
                            </li>
                            <li>
                                <strong>Glymed Plus</strong>
                                <br />
                                Dry &amp; Sensitive Regimen
                                <br />
                                Acne Regimen
                            </li>
                            <li>
                                <strong>ÉMINENCE</strong>
                                <br />
                                Organic Skin Care
                            </li>
                            <li>
                                <strong>face reality</strong>
                                <br />
                                Skincare
                            </li>
                            <li>
                                <strong>PRIIA</strong>
                                <br />
                                Mineral-Derm
                            </li>
                            <li>
                                <strong>TiZo</strong>
                                <br />
                                Mineral Photoprotection
                            </li>
                            <li>
                                <strong>SKINMEDICA</strong>
                                <br/>
                                Skin Rejuvination 
                            </li>
                            <li>
                                <strong>Alastin Skincare</strong>
                                <br />
                                Physician-dispensed Skincare Brand
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <h2>
                        Skin Sheek Services
                    </h2>
                    <div>
                        <p>
                            By Kali <a href="https://naturalbeautyandbrows.com" target="_blank"> https://naturalbeautyandbrows.com </a>
                        </p>
                    </div>
                    <p>
                        Our high radio frequency esthetic device can treat simple skin imperfections like brown spots, clogged pores and more is about 15 minutes.
                    </p>
                    <ul>
                        <li>Single Treatment - 15 minutes</li>
                        <li>Single Treatment - 30 minutes</li>
                        <li>Package of 3 - 15 minutes each</li>
                        <li>Package of 5 - 15 minutes each</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h3 class="mb-4">
            **Contact Us For Pricing and Availibility on All Services**
        </h3>
    </div>
</section>