@page "/privacy-policy"
@model PrivacyModel
@section Metatags {
    <title>Privacy Policy @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/privacy-policy" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Privacy Policy @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A Cookie is a small file that is placed on your device that allows our servers to recognize and remember you.  It is sent to your browser and stored on your devices hard drive." />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/privacy-policy" />
    <meta itemprop="description" content="A Cookie is a small file that is placed on your device that allows our servers to recognize and remember you.  It is sent to your browser and stored on your devices hard drive." />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Privacy Policy @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/privacy-policy" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="A Cookie is a small file that is placed on your device that allows our servers to recognize and remember you.  It is sent to your browser and stored on your devices hard drive." />
    <meta name="description" content="A Cookie is a small file that is placed on your device that allows our servers to recognize and remember you.  It is sent to your browser and stored on your devices hard drive." />
}
<section class="banner-area privacy-policy d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-left text-uppercase">
                    <h1>
                        Cookie and Privacy Policy
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <h2>
            What is a cookie?
        </h2>
        <p>
            A Cookie is a small file that is placed on your device that allows our servers to recognize and remember you.  It is sent to your browser and stored on your devices hard drive.  When you visit one of our Websites, we may read the cookie, establish your identity, and collect information from you regarding your site usage behavior so that we can improve our customer service.
        </p>
        <h2>
            What types of cookies do we use and not use?
        </h2>
        <p>
            <strong>Essential</strong> - cookies that are essential provide you with the services you have requested.  For example, establishing your identity that make is possible for you to stay logged into your account and separate your session from others who are concurrent users on our Web site.
        </p>
        <p>
            <strong>Performance</strong> - cookies allow us to measure how often you visit and how you use our site.  Google Analytics as our ONLY performance cookie provider and is a third-party. This data collected by Google is used to help us analyze what content is important to you and improve your online experience.  We also connect Google Analytics to SEMrush in order to run additional reporting.  These additional reports help us identify errors, usability issues, broken links, IP Address, browser and device information and similar audit reports.  We do;  however, use the performance cookies to gain aggregate data (not personalized data) to improve our Search Engine Optimization (SEO) on Google and Bing related search properties.
        </p>
        <p>
            <strong>Functional</strong> - cookies are not used as we are not saving individual preferences and settings.
        </p>
        <p>
            <strong>Advertising</strong> - cookies are not used.  We do not store any information that would allow us to provide a personalized browsing experience and do not store any personal data on our Web site or third-party systems.
        </p>
    </div>
</section>