@page "/promotions"
@model BA.AllureSkinsolution.PromotionModel
@section Metatags {
    <title>Promotions @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/promotions" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Promotions @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/promotions" />
    <meta itemprop="description" content="We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Promotions @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/promotions" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!" />
    <meta name="description" content="We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!" />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Promotions | Eagle, ID | Allure Skin Solutions and Medical Aesthetics",
        "description": "We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Promotions | Eagle, ID | Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/promotions"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/promos-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Promotions</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 pb0 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-4 font-weight-bold">Bundle Your Services and Save</h4>
                    <p>We are currently not offering any bundles at the moment. Check back again soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>