@page "/radiesse"
@model BA.AllureSkinsolution.RadiesseModel
@section Metatags {
    <title>Radiesse @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/radiesse" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Radiesse @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Radiesse is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/radiesse" />
    <meta itemprop="description" content="Radiesse is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Radiesse @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/radiesse" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Radiesse is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. CALL: (208) 939-9074" />
    <meta name="description" content="Radiesse is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "Service",
        "name": "Radiesse",
        "description": "Radiesse is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. CALL: (208) 939-9074."
        },
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Epionce @@ Allure Skin Solutions and Medical Aesthetics",
        "description": "Created by Dr. Carl Thornfeldt, Epionce is a safe and effective treatment for aging and problem skin. CALL: (208) 939-9074",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/services"
        },
        {
        "@@type": "ListItem",
        "position": 3,
        "name": "Radiesse @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://www.allureskinsolution.com/radiesse"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/radiesse-service-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Radiesse</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-3">What is Radiesse</h4>
                    <p class="mb-4">Radiesse® is NOT hyaluronic acid.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/cheek-restylane-service.jpg" alt="">
                    <img class="bottom-image" src="./images/radiesse-logo.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <h3>About</h3>
                <p class="my-4">Radiesse® is NOT hyaluronic acid. It is a FDA approved synthetic filler comprised of Calcium Hydroxylapatite or (CaHA) and an aqueous gel. Radiesse lifts as well as restores lost volume to the cheeks, the lower face, and effectively treats moderate to severe wrinkles and folds. Once its been injected it creates a matrix that stimulates the body to produce its own collagen! As the CaHA is slowly metabolized the collagen remains, providing structural support to the face and strengthening bone. Radiesse® can also be used on hands.</p>
                <p class="service-time">1 hour</p>
                <p class="dull">Results lasts 1 - 2 years</p>
            </div>
        </div>
    </div>
</section>

<section class="info-section py-120 pb0">
    <div class="container">
        <div class="row">
            <div class="info-grey-box">
                <h4>Before Being Treated With Derma Fillers</h4>
                <p>Your skin will be numbed with a topical anesthetic and there is anesthetic in the filler as well. It is normal to experience swelling and bruising for a few days/ 2 weeks after your procedure. To minimize these side effects consider doing these things pre-procedure:</p>
                <ul class="list-style-circle mt-5">
                    <li>Avoid taking aspirin, nonsteroidal anti-inflammatory medications, st johns wort, omega 3 fatty acids (fish oil) and vitamin e supplements 5 days prior to your procedure</li>
                    <li>Avoid alcohol for 24 hrs prior to your procedure.</li>
                    <li>Consider taking an antihistamine for 2 days before your procedure to decrease swelling.</li>
                    <li>Consider taking oral arnica for 2 days before your procedure to decrease bruising.</li>
                </ul>
            </div>
            <div class="info-grey-box bg-white">
                <h4>Risks Associated with Derma Filler Injections</h4>
                <p>Severe complications from dermal fillers are uncommon, however, we’d like you to be aware of them.  These risks may vary depending on the filler used and include:</p>
                <ul class="list-style-circle my-5">
                    <li>Acne like skin eruptions</li>
                    <li>Asymmetry</li>
                    <li>Bruising and bleeding from the injection site, swelling</li>
                    <li>Damage to the skin that results in a wound and possible scarring</li>
                    <li>Infection and the injection site</li>
                    <li>Lumps or palpable filler under the skin</li>
                    <li>Over correction of under correction</li>
                    <li>Blindness</li>
                    <li>Skin necrosis due to an unidentified intravascular injection of filler.</li>
                </ul>
                <p>Please note that all of the Hyaluronic Acid fillers and Radiesse (CaHA) have an antidote that will dissolve the filler and likely resolve an intravascular injection. Consider taking oral Arnica for 2 days before your procedure to decrease bruising.</p>
            </div>
        </div>
    </div>
</section>
