@page "/reviews"
@model BA.AllureSkinSolution.Pages.ReviewsModel
@section Metatags {
    <title>Reviews @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/Reviews" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Reviews @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We strive to ensure every clients leaves happy and satisfied with their look! CALL: (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/non-surgical-cheek-augmentation" />
    <meta itemprop="description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Cheek Augmentation @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.pn" />
    <meta name="twitter:url" content="https://allureskinsolution.com/non-surgical-cheek-augmentation" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
    <meta name="description" content="Non surgical cheek augmentation is safe, effective, minimally invasive and there is no down time. CALL: (208) 939-9074" />
}

    @section Schema {
        <script type="application/ld+json">
            [
            {
            "@@context": "http://schema.org",
            "@@type": "WebPage",
            "name": "Contact | Eagle, ID | Allure Skin Solutions and Medical Aesthetics",
            "description": "Contact Allure Skin solutions for any questions regarding products, skin care services, or treatments. CALL: (208) 939-9074",
            "publisher": {
            "@@type": "Person",
            "name": "Tonia Nicholson" }
            },
            {
            "@@context": "https://schema.org/",
            "@@type": "BreadcrumbList",
            "itemListElement": [{
            "@@type": "ListItem",
            "position": 1,
            "name": "Allure Skin Solutions and Medical Aesthetics",
            "item": "https://allureskinsolution.com"
            },
            {
            "@@type": "ListItem",
            "position": 2,
            "name": "Reviews Allure Skin Solutions and Medical Aesthetics",
            "item": "https://allureskinsolution.com/reviews"
            }]
            }
            ]
        </script>
    }

<section class="inner-banner-area d-flex align-items-center" style="background: url(./images/reviews.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Reviews</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-area">
    <div class="content-header py-120 pb0 text-left">
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <h4 class="mb-4 font-weight-bold">Leave a Review</h4>
                    <p>
                        At Allure, we do our best to ensure all of our clients leave satisfied with their treatments. If you enjoyed your visit with us we'd love to hear back from you!
                    </p>
                </div>
            </div>
            <div id="review-block" class="row text-center mt-5">
                <div class="col-md-6">
                    <a href="https://www.yelp.com/biz/allure-skin-solutions-and-medical-aesthetics-boise?osq=allure+skin+solutions" class="btn btn-primary mt-3">Leave a Review on Yelp! <i class="fa fa-yelp" style="font-size: 1.5rem;"></i></a>
                </div>
                <div class="col-md-6">
                    <a href="https://search.google.com/local/writereview?placeid=ChIJJXgM7Cv_rlQR8DcprYPl8r0" class="btn btn-primary mt-3">Leave a Review on Google! <i class="fa fa-google" style="font-size: 1.5rem;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>