@page "/services"
@model BA.AllureSkinsolution.ServicesModel
@section Metatags {
    <title>Services - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/services" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Skin care is important at any age. Allure has the knowledge and ability to help keep your skin appear young and healthy. CALL (208) 939-9074" />
    <meta property="og:image" content="/images/allure-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="90" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/services" />
    <meta itemprop="description" content="Skin care is important at any age. Allure has the knowledge and ability to help keep your skin appear young and healthy. CALL (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
    <link rel="image_src" href="/images/allure-logo.png" />
    <meta itemprop="image" content="/images/allure-logo.png" />
    <meta name="twitter:title" content="Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/allure-logo.png" />
    <meta name="twitter:url" content="https://allureskinsolution.com/services" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Skin care is important at any age. Allure has the knowledge and ability to help keep your skin appear young and healthy. CALL (208) 939-9074" />
    <meta name="description" content="Skin care is important at any age. Allure has the knowledge and ability to help keep your skin appear young and healthy. CALL (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "Service",
        "name": "Skin Treatments",
        "description": "Allure Skin Solutions offers a variety of deep and fine line fillers designed specifically to help treat problem areas."
        },
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics",
        "description": "Skin care is important at any age. Allure has the knowledge and ability to help keep your skin appear young and healthy. CALL (208) 939-9074",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/services"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/services-header.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>At every age it is important to use a good skin care regimen, regularly exfoliate, hydrate your skin to improve tone and texture, and stimulate your skin to encourage new cell and collagen growth to maintain elasticity. As we begin noticing the signs of aging, augmentation of your skin can minimize fine and deep lines, diminish wrinkles & increase volume. We invite you to learn more about the changes you can expect as your skin matures as well as a detailed description of the products and services Allure Skin Solutions can offer you by selecting the services that interest you below!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container service-item">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-service">
                    <img class="w-100" src="./images/service-page-one.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <div class="service-single-in">
                    <h2>20’s</h2>
                    <p class="d-inline-block">
                        In our 20’s our skin is voluminous, with little to no signs of aging. A good skin care regimen, regular exfoliation and hydration keep skin looking youthful and resilient!
                    </p>
                    <h3 class="mt-5 pt-5 border-top">Treatments<br> Recommended:</h3>
                    <ul>
                        <li><a asp-page="/exfoliation">Exfoliation</a></li>
                        <li><a asp-page="/hydrafacial">HydraFacial</a></li>
                        <li><a asp-page="/Microneedling">Microneedling</a></li>
                        <li><a asp-page="/facial_peels">Facials & Peels</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single service-left-position">
    <div class="container service-item">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-service">
                    <img class="w-100" src="./images/service-page-two.jpg" alt="">
                </div>
            </div>
            <div class="col-lg">
                <div class="service-single-in">
                    <h2>30’s</h2>
                    <p class="d-inline-block">
                        As we approach our 30’s, collagen and elastin production slows causing the formation of dynamic lines (wrinkles that are present with expression) and static lines (wrinkles that are always visible) and our complexion can become dull. The addition of Neuromodulators minimizes the formation of deep lines and wrinkles. Microneedling with platelet rich plasma (prp) infuses the skin with nutrients that help stimulate collagen and stem cell production leading to improved tone, and smoother and tighter skin.
                    </p>
                    <h3 class="mt-5 pt-5 border-top">Treatments<br> Recommended:</h3>
                    <ul>
                        <li><a asp-page="/Microneedling">Microneedling</a></li>
                        <li><a asp-page="/neuro_modulators">Neuromodulators</a></li>
                        <li><a asp-page="/Botox">BOTOX</a></li>
                        <li><a href="">Dysport</a></li>
                        <li><a href="">XEOMIN</a></li>
                        <li><a href="/PermanentMakeUpBrows">Permanent Makeup/Brows</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container service-item">
        <div class="row align-items-center">
            <div class="col-lg">
                <div class="image-space-service">
                    <img class="w-100" src="./images/service-page-three.jpg" alt="">
                </div>
            </div>
            <div class="col-lg">
                <div class="service-single-in">
                    <h2>40s - 50s</h2>
                    <p class=" d-inline-block">
                        In our 40’s and 50’s we start to lose volume in our faces as fat pads start to diminish and migrate causing our cheeks to sag, our skin to look thin and the edges of our lips and chin to pull down. The addition of dense fillers can add volume to the face, while fillers with more elastic, moveable properties can be used to smooth out deep and fine lines.
                    </p>
                    <h3 class="mt-5 pt-5 border-top">Treatments<br> Recommended:</h3>
                    <ul>
                        <li><a asp-page="/lip_augmentation">Lips</a></li>
                        <li>RESTYLANE SILK</li>
                        <li>JUV&eacute;DERM&reg; ULTRA XC</li>
                        <li>JUV&eacute;DERM&reg; VOLBELLA XC</li>
                        <li><a asp-page="/treatment_of_deep">Deep & Fine Lines</a></li>
                        <li>JUV&eacute;DERM&reg; XC</li>
                        <li>Restylane&reg; Defyne</li>
                        <li>Restylane&reg; Refyne</li>
                        <li>JUV&eacute;DERM&reg; VOLLURE XC</li>
                        <li><a asp-page="/cheeks">Cheeks</a></li>
                        <li>Restylane&reg; Lyft</li>
                        <li>JUV&eacute;DERM&reg; VOLUMA</li>
                        <li>Radiesse</li>
                        <li><a asp-page="/tear_trough_rejuvenation">Tear Trough Rejuvenation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single service-left-position">
    <div class="container service-item">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-service">
                    <img class="w-100" src="./images/service-four-square.jpg" alt="">
                </div>
            </div>
            <div class="col-lg">
                <div class="service-single-in">
                    <h2>50’s - 60’s</h2>
                    <p class=" d-inline-block">
                        In our 50’s and 60’s the aging of our skin is accelerated. Facial contours change due to bone thinning. Skin becomes loose around the eyes and bags form as gravity pulls on the face causing skin to hang. Our skin becomes thick and dense. After 70 all of these changes become even more prominent. There are fillers that can stimulate collagen growth, generating a structural matrix that recreates contour in the face and jaw. The extra chin can be dissolved away with Kybella.
                    </p>
                    <h3 class="mt-5 pt-5 border-top">Treatments<br> Recommended:</h3>
                    <ul>
                        <li><a asp-page="/Kybella">Kybella</a></li>
                        <li><a asp-page="/Sculptra">Sculptra</a></li>
                        <li><a asp-page="/HandRejuvenation">Hand Rejuvenation</a></li>
                        <li><a asp-page="/hair_treatment_restoration">Hair Treatment & Restoration</a></li>
                        <li><a asp-page="/EVO">Quanta EVO Laser</a></li>
                        <li><a asp-page="/VirtueRF">VIRTUE<small>RF</small> Microneedling</a></li>
                        <li><font size="4">Silhouette Threads</font></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2 class="text-uppercase allure-color">Skin Care</h2>
                    <p>Keeping your skin healthy begins with a good skin care regimen.  We carry Epionce, Glymed Plus and DefenAge. We have products for every skin type including rosacea and melasma. We look forward to helping you determine what your skin’s needs are and providing you with a system of care. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container service-item">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-service">
                    <img class="w-100" src="./images/service-out.jpg" alt="">
                </div>
            </div>
            <div class="col-sm">
                <div class="service-single-bottom">
                    <ul>
                        <li>Epionce®</li>
                        <li>GlyMed Plus®</li>
                        <li>Latisse®</li>
                        <li>ÉMINENCE</li>
                        <li>face reality™</li>
                        <li>PRIIA®</li>
                        <li>TiZo®</li>
                        <li>SkinMedica®</li>
                        <li>Alastin® Skincare</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
