@page
@model BA.AllureSkinSolution.Pages.SillouettThreadsModel
@{
}

<title>VirtueRF @@ Allure Skin Solutions and Medical Aesthetics</title>
<link rel="shortcut icon" type="image/x-icon" href="" />
<link rel="canonical" href="https://allureskinsolution.com/VirtueRF" />
<meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:title" content="VirtueRF @@ Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:url" content="https://allureskinsolution.com" />
<meta property="og:type" content="website" />
<meta property="og:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta property="og:image" content="/images/allure-logo.png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="90" />
<meta itemprop="name" content="Allure Skin Solutions" />
<meta itemprop="url" content="https://allureskinsolution.com/VirtueRF" />
<meta itemprop="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
<link rel="image_src" href="/images/allure-logo.png" />
<meta itemprop="image" content="/images/allure-logo.png" />
<meta name="twitter:title" content="VirtueRF @@ Allure Skin Solutions and Medical Aesthetics" />
<meta name="twitter:image" content="/images/allure-logo.png" />
<meta name="twitter:url" content="https://allureskinsolution.com/VirtueRF" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta name="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/EVO","description":"EVO Series lasers are engineered to deliver a wide range of treatments, safely, for all skin types. These lasers can erase pigmentation of varying size, shape and color because of the larger spot sizes and energy wavelengths available.  CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/service-face.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolution.com/images/service-face.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"QuantaEVOLaser","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO Series","description":"Laser Treatments with Italian engineered EVO Light Series, provide patients with best-in-class treatment results."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO AT ALLURE SKIN SOLUTIONS","description":"I invite you to come in for a complementary consult, which will allow me to outline the best treatment(s) to obtain your desired outcome."}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/EVO","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/blue.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Virtue<small>RF</small> Microneedling</h1>
                </div>
            </div>
        </div>
    </div>
</section>