@page "/thank-you"
@model BA.AllureSkinsolution.Pages.ThankYouModel
@section Metatags {
    <title>Thank You @@ Allure Skin Solutions and Medical Aesthetics</title>
}
<main class="main-content">
    <section class="banner-area girlface-banner d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="inner-caption text-left text-uppercase">
                        <h1>Thank You</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-area">
        <div class="content-header py-120 text-left">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <p>
                            Thank you for contacting us. We will be in contact with you shortly!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
