@page "/treatment-of-deep-and-fine-lines"
@model BA.AllureSkinsolution.treatment_of_deepModel
@section Metatags {
    <title>Line Treatments @@ Allure Skin Solutions and Medical Aesthetics</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://allureskinsolution.com/treatment-of-deep-and-fine-lines" />
    <meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:title" content="Treatment of Deep - Fine Lines @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta property="og:url" content="https://allureskinsolution.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Deep and fine lines can be mitigated with the use of fillers specifically designed to treat these areas that are key to our expression. CALL (208) 939-9074" />
    <meta property="og:image" content="/images/AllureLogo1.1.png" />
    <meta property="og:image:width" content="1049" />
    <meta property="og:image:height" content="314" />
    <meta itemprop="name" content="Allure Skin Solutions" />
    <meta itemprop="url" content="https://allureskinsolution.com/treatment-of-deep-and-fine-lines" />
    <meta itemprop="description" content="Deep and fine lines can be mitigated with the use of fillers specifically designed to treat these areas that are key to our expression. CALL (208) 939-9074" />
    <meta itemprop="thumbnailUrl" content="/images/AllureLogo1.12.png" />
    <link rel="image_src" href="/images/AllureLogo1.12.png" />
    <meta itemprop="image" content="/images/AllureLogo1.12.png" />
    <meta name="twitter:title" content="Treatment of Deep - Fine Lines @@ Allure Skin Solutions and Medical Aesthetics" />
    <meta name="twitter:image" content="/images/AllureLogo1.12.pn" />
    <meta name="twitter:url" content="https://allureskinsolution.com/treatment-of-deep-and-fine-lines" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Deep and fine lines can be mitigated with the use of fillers specifically designed to treat these areas that are key to our expression. CALL (208) 939-9074" />
    <meta name="description" content="Deep and fine lines can be mitigated with the use of fillers specifically designed to treat these areas that are key to our expression. CALL (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        [
        {
        "@@context": "http://schema.org",
        "@@type": "Service",
        "name": "Deep and Fine Line Treatment",
        "description": "Allure Skin Solutions offers a variety of deep and fine line fillers designed specifically to help treat problem areas."
        },
        {
        "@@context": "http://schema.org",
        "@@type": "WebPage",
        "name": "About Allure Skin Solutions - Skin Care Eagle ID",
        "description": "Allure Skin Solutions and Medical Aesthetics provides a comprehensive approach to caring for our clients skin as it matures and changes. CALL (208) 939-9074",
        "publisher": {
        "@@type": "Person",
        "name": "Tonia Nicholson" }
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "name": "Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com"
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "name": "Skin Care - Beauty Procedures @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/services"
        },
        {
        "@@type": "ListItem",
        "position": 3,
        "name": "Treatment of Deep - Fine Lines @@ Allure Skin Solutions and Medical Aesthetics",
        "item": "https://allureskinsolution.com/treatment-of-deep-and-fine-lines"
        }]
        }
        ]
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background: url(./images/deep-fine-lines-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Treatment of Deep<br> and Fine Lines</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4 class=" mb-4">Treatment of Deep and Fine Lines</h4>
                    <p class="mb-4">As our skin ages we lose collagen, our hyaluronic acid levels diminish, and gravity takes its toll causing our skin to become less elastic and sag. This sagginess creates deeper folds around our nose and mouth and with that the onset of joules and chin creases. These overt signs of aging can be mitigated with the use of fillers specifically designed to treat these areas that are key to our expression.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/restylane-refyne-defyne-product.jpg" alt="Restylane Products">
                </div>
            </div>
            <div class="col-sm">
                <h3>RESTYLANE REFYNE® / RESTYLANE DEFYNE®</h3>
                <p class="my-4">Restylane® Refyne and Restylane Defyne is an HA filler. It softens moderate lines and wrinkles around the nose and mouth. It is a very elastic filler, formulated using XpresHAn Technology™ to maintain your facial expression and restore a more natural look to your face. It is a good choice for thinner skinned individuals due to its enhanced flexibility and decreased volumizing properties.</p>
                <p>
                    Restylane Defyne® is less elastic and thicker (cohesive) than its counterpart, REFYNE.  It provides support, adds volume and maintains natural facial expression using XpresHAn Technology™. It effectively treats deeper lines and wrinkles around the nose and mouth.
                </p>
                <hr />
                <p>Refyne Procedure</p>
                <p class="service-time">30 minutes</p>
                <p class="dull">Lasts approximately 12 - 18 months</p>
                <p>Defyne Procedure</p>
                <p class="service-time">30 MINUTE PROCEDURE</p>
                <p class="dull">Lasts approximately 1 year</p>
            </div>
        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h3>JUVEDERM XC</h3>
                <p class="my-4">Juvederm XC is a HA filler that was FDA approved in 2006 so its longevity is a tribute to its results! It is more cohesive (thicker) than VOLLURE so it is better able to effectively treat deeper lines and wrinkles around the nose and mouth. Its formulation provides support, volume and elasticity.</p>
                <p class="service-time">30 MINUTE PROCEDURE</p>
                <p class="dull">Lasts approximately 1 year</p>
            </div>
            <div class="col-sm">
                <div class="image-space-main text-right">
                    <img src="./images/juvederm-ultra-plus-xc.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single mb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/vollure-xc-large.jpg" alt="">
                </div>
                <!--<div class="image-space-main">
                    <img src="./images/botox-service.jpg" alt="">
                    <img class="bottom-image" src="./images/vollure-xc.jpg" alt="">
                </div>-->
            </div>
            <div class="col-sm">
                <h3>JUVEDERM VOLLURE XC</h3>
                <p class="my-4">Juvederm Vollure XC is comprised of a combination of large and small hyaluronic acid particles formulated to add subtle volume and soften moderate to severe lines and wrinkles around the nose and mouth. Its vycross technology means it is a softer more malleable filler. </p>
                <p class="service-time">      30 minutes</p>
                <p class="dull">Lasts approximately 18 months</p>
            </div>
        </div>
    </div>
</section>
