@page
@model BA.AllureSkinSolution.Pages.VirtueRFModel
@{
}
<title>VirtueRF @@ Allure Skin Solutions and Medical Aesthetics</title>
<link rel="shortcut icon" type="image/x-icon" href="" />
<link rel="canonical" href="https://allureskinsolution.com/VirtueRF" />
<meta property="og:site_name" content="Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:title" content="VirtueRF @@ Allure Skin Solutions and Medical Aesthetics" />
<meta property="og:url" content="https://allureskinsolution.com" />
<meta property="og:type" content="website" />
<meta property="og:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta property="og:image" content="/images/allure-logo.png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="90" />
<meta itemprop="name" content="Allure Skin Solutions" />
<meta itemprop="url" content="https://allureskinsolution.com/VirtueRF" />
<meta itemprop="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta itemprop="thumbnailUrl" content="/images/allure-logo.png" />
<link rel="image_src" href="/images/allure-logo.png" />
<meta itemprop="image" content="/images/allure-logo.png" />
<meta name="twitter:title" content="VirtueRF @@ Allure Skin Solutions and Medical Aesthetics" />
<meta name="twitter:image" content="/images/allure-logo.png" />
<meta name="twitter:url" content="https://allureskinsolution.com/VirtueRF" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
<meta name="description" content="This procedure addresses all skin care needs, from fine lines and wrinkles, to improving elasticity and texture.  CALL: (208) 939-9074" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@type":"WebSite","id":"https://allureskinsolution.com/#","url":"https://allureskinsolution.com/","name":"Allure Skin Solutions and Medical Aesthetics"},{"@@type":"HealthAndBeautyBusiness","@@id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","description":"We are Open! (208) 939-9074.  Idaho's most experienced Medical Aesthetics Team revitalizing the beauty of your changing skin:  Serving Eagle, Boise & Meridian.","image":"https://allureskinsolution.com/images/service-one.jpg","url":"https://allureskinsolution.com","logo":"https://allureskinsolution.com/images/allure-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"7950 Horseshoe Bend Rd. Suite 105","addressLocality":"Eagle","addressRegion":"ID","postalCode":"83174"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.684637","longitude":"-116.313255"}],"telephone":"12089399074","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/59rqY39o8EEhKu7v7"},"sameAs":["https://www.facebook.com/allureskinsolutions/","https://www.instagram.com/allure.skin.solutions/"]},{"@@context":"http://schema.org","@@type":"WebPage","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics","url":"https://allureskinsolution.com/EVO","description":"EVO Series lasers are engineered to deliver a wide range of treatments, safely, for all skin types. These lasers can erase pigmentation of varying size, shape and color because of the larger spot sizes and energy wavelengths available.  CALL: (208) 939-9074","image":"https://allureskinsolution.com/images/service-face.jpg","publisher":{"@@type":"Person","name":"Tonia Nicholson","url":"https://allureskinsolution.com/about","image":"https://allureskinsolution.com/images/team-tonia-nicholson.jpg","jobTitle":"Owner","worksFor":{"@@type":"Organization","name":"Allure Skin Solution"},"hascredential":[{"@@type":"EducationalOccupationalCredential","competencyRequired":"BSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"MSN","credentialCategory":"degree","recognizedBy":"Boise State University"},{"@@type":"EducationalOccupationalCredential","competencyRequired":"CRNA","credentialCategory":"certificate","recognizedBy":"NBCRNA"}]}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Healthcare and Beauty Services","provider":{"@@type":"HealthAndBeautyBusiness","id":"https://allureskinsolution.com/#","name":"Allure Skin Solutions and Medical Aesthetics","image":"https://allureskinsolution.com/images/service-face.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"QuantaEVOLaser","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO Series","description":"Laser Treatments with Italian engineered EVO Light Series, provide patients with best-in-class treatment results."}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"EVO AT ALLURE SKIN SOLUTIONS","description":"I invite you to come in for a complementary consult, which will allow me to outline the best treatment(s) to obtain your desired outcome."}},{"@@context":"http://schema.org","@@type":"BreadcrumbList","itemListElement":[{"@@type":"ListItem","position":1,"item":{"@@id":"https://allureskinsolution.com","name":"Home Page - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":2,"item":{"@@id":"https://allureskinsolution.com/services","name":"Services - Allure Skin Solutions and Medical Aesthetics"}},{"@@type":"ListItem","position":3,"item":{"@@id":"https://allureskinsolution.com/EVO","name":"QuantaEVOLaser @@ Allure Skin Solutions and Medical Aesthetics"}}]}]}
    </script>
}
<section class="inner-banner-area d-flex align-items-center" style="background:url(./images/blue.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inner-caption text-center text-uppercase">
                    <h1>Virtue<small>RF</small> Microneedling</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="content-header py-120 text-left">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 class="text-uppercase mb-5">VIRTUE<small>RF</small> Microneedling</h1>
                    <p class="mb-5">IN TRUE FASHION, DR. TAMMY SKIDMORE CONTINUES TO BE A LEADER IN AESTHETICS AS SHE INTRODUCES VIRTUE<small>RF</small>, THE NEXT GENERATION IN RF MICRONEEDLING AND THE FIRST, EVER, MICRONEEDLING PLATFORM!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-main text-right">
                    <img src="./images/VirtueRF1.png" alt="">
                </div>
            </div>
            <div class="col-lg">
                <h3>RF Microneeding Treatments</h3>
                <p class="my-4">Yes, it’s true your RF Microneedling skin renewal system has arrived, in a single platform!  With the ability to target unwanted scars and wrinkles, it simultaneously tightens the skin. </p>
                <p>In response to highly sought after, minimally invasive treatments, VIRTUE<small>RF</small> allows patients to combat the fine lines and wrinkles that have set in, in addition to unwanted scars, including acne.  With virtually zero down time, coupled with the most advanced RF Microneedling platform available, you’ll enjoy ‘filter free’ and ‘make-up’ free photos in short order.</p>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="image-space-main">
                    <img src="./images/VirtueRF3.png" alt="">
                </div>
            </div>
            <div class="col-sm">
                <p class="my-4">VIRTUE<small>RF</small> is the newest generation of radio frequency microneedling, with FDA-clearance for your safety.  Blackrock Medical Aesthetics located inside Allure Skin Solutions, is the first to offer this minimally invasive treatment that helps stimulate natural production of collagen in the Treasure Valley. The VIRTUE<small>RF</small> goes beyond treating wrinkles, fine lines, for the face, neck, hands, and body.</p>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
                <div class="image-space-main text-right">
                    <img src="./images/VirtueRF2.png" alt="">
                </div>
            </div>
            <div class="col-lg">
                <h3>The Comfort of Virtue<small>RF</small></h3>
                <p class="mb-5">Offering a truly comfortable patient experience via VIRTUE<small>RF</small>’s precise robotic motor the treatment is unmatched to comparative devices you’ll find in the market.   The VIRTUE<small>RF</small> experience includes the use of a compounded numbing cream and a tandem first in market electro current post treatment mask to ensure an unprecedented recovery and absence of visible evidence that you had a treatment today.  Results are immediate and improve as time passes, providing the best of both worlds.</p>
                <p>If you are seeking optimal results, The VIRTUE<small>RF</small> Experience delivers.</p>
            </div>
        </div>
    </div>
</section>
<section class="content-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-2">
            <div class="col-lg">
                <p class="mb-5">Contact <a href="tel:208-339-5492"> Tammy</a> today, to schedule your next generation, VIRTUE<small>RF</small> Microneedling treatment and discover renewed skin.</p>
            </div>
        </div>
    </div>
</section>
<section class="info-section py-120">
    <div class="container">
        <div class="row">
            <div class="info-grey-box">
                <h3>Is Virtue<small>RF</small> For Me?</h3>
                <ul>
                    <li class="mb-3">Targets Wrinkles & Fine Lines</li>
                    <li class="mb-3">Aims to Tighten Skin</li>
                    <li class="mb-3">Improves Skin Tone & Texture</li>
                    <li class="mb-3">Immediate Results</li>
                    <li class="mb-3">No Downtime</li>
                    <li class="mb-3">Virtually Pain-Free</li>
                </ul>
            </div>
        </div>
    </div>
</section>