<section class="appointment-section">
    <div class="row">
        <div class="col-6 map-image">

        </div>
        <div class="col-6 text-light appointment-text">
            <h2 class="text-uppercase">Book an Appointment</h2>
            <p>
                We are currently offering some incredible treatment packages! Call today and begin your journey to healthier, younger looking skin!
            </p>
            <a asp-page="/Services" class="btn btn-primary mt-3 rounded-0 px-3 text-dark bg-light">Explore Services</a>
        </div>
    </div>
</section>